<h1>Ask a new question!</h1>
<div class="row">
  <div class="col-md-8">
  <%= form_for(@question) do |q| %>
    <div class="form-group">
      <%= q.label :title %>
      <%= q.text_field :title, class: 'form-control', placeholder: "Enter question title"  %>
    </div>
    <div class="form-group">
      <%= q.label :body %>
      <%= q.text_field :body, rows: 4, class: 'form-control', placeholder: "Enter question body" %>
    </div>
    <div class="form-group">
      <%= q.label :resolved %>
      <%= q.check_box :resolved, {checked: false, checked_value: true, unchecked_value: false} %>
    </div>
    <div class = "form-group">
      <%= q.submit "Save", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
</div>
